body {padding: 10px;font-family: sans-serif;}
.m-r-15{margin-right:15px;}
.f-w-600{font-weight:600}
.f-w-700{font-weight:700}
.new-users-social{margin-bottom:30px}
.media{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.media .media-body{-webkit-box-flex:1;-ms-flex:1;flex:1}
.timeline-content p{margin-top:30px;color:#999}
.img-w60 {width: 60px;}
.timeline-content p{margin-top:30px;color:#999}
.social-chat{margin-top:30px}
.social-chat span span{font-weight:normal;color:#999;font-size:12px}
.social-chat .media-body{padding:30px;border:1px solid #f4f4f4;position:relative}
.social-chat .media-body p{margin-top:5px}
.social-chat .media-body:before{content:'';position:absolute;top:19px;right:100%;border:7px solid transparent;border-right:7px solid #59667a}
.social-chat .media-body:after{content:'';position:absolute;top:19px;right:100%;border:7px solid transparent;border-right:7px solid #fff}
.other-msg{margin-bottom:30px}
.text-box{position:relative}
.input-txt-bx{border:none}
.input-txt-bx::placeholder{color:#999}
.ml-5 {margin-left: 5px;}
.login-form {display: flex;flex-direction: column;height: 100%;justify-content: center;align-items: center;}
.login-form > div {margin: 8px;}
.login-form > div > label {font-weight: bold;}
.login-form > div  > input {flex-grow: 1;box-sizing: border-box;padding: 10px 6px;background: transparent;border: 1px solid #aaa;width: 100%;font-size: 1em;margin-right: 16px;margin-top: 4px;}
.login-form > div > input:focus {outline: 0;}
.login-form > div > button {background-color: #62807e;}
.add-discus{max-width: 600px;margin: auto auto;}
.add-discus p {text-align: center;font-weight: 600;}
.add-discus ,.input-txt ,textarea {width: 100%;padding: 20px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 20px;resize: vertical;}
.add-discus textarea {height: 200px;}
.add-discus  input[type=submit] {background-color: #4CAF50;color: white;padding: 12px 20px;border: none;border-radius: 4px;cursor: pointer;}
.add-discus  input[type=submit]:hover {background-color: #45a049;}
.f-r {margin-right: 0%;}
.login-card{min-height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 auto;background:url("../images/login/login_bg.jpg");background-position:center;padding:30px 12px}
.logo{display:block;margin-bottom:30px;text-align:center}
.login-card .login-main .theme-form label{font-size:15px;letter-spacing:0.4px}
.theme-form .or:before{content:"";position:absolute;width:65%;height:2px;background-color:#f3f3ff;top:9px;z-index:0;right:0}.login-card .login-main .theme-form input{background-color:#f3f3ff;-webkit-transition:all 0.3s ease;transition:all 0.3s ease}.login-card .login-main .theme-form input::-webkit-input-placeholder{color:#999}.login-card .login-main .theme-form input:hover,.login-card .login-main .theme-form input:focus{border:1px solid #b9c1cc;-webkit-box-shadow:none !important;box-shadow:none !important;-webkit-transition:all 0.3s ease;transition:all 0.3s ease}.login-card .login-main .theme-form p{margin-bottom:25px;font-size:14px;color:#898989}.login-card .login-main .theme-form .form-group{margin-bottom:10px;position:relative}.login-card .login-main .theme-form .link{position:absolute;top:10px;right:0}
.col-form-label{margin-left:5px;margin-right:0}
.show-hide{position:absolute;top:52px;right:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.login-card{min-height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 auto;background:url("../images/login/login_bg.jpg");background-position:center;padding:30px 12px}
.login-main{width:450px;padding:40px;border-radius:10px;-webkit-box-shadow:0 0 37px rgba(8,21,66,0.05);box-shadow:0 0 37px rgba(8,21,66,0.05);margin:0 auto;background-color:#fff}

